#introduction {
  margin-bottom: 100px:
  padding: 0px 300px;
  background-color: #333333;
  color: white;
}

#main {
  width: 800px;
  margin: 0 auto; 
  background-color: light-blue;
}

#task_overview div {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

#task_container {
  display: none;
}

#task_source {
  color: blue;
}
